:root {
    --background-color: #f4f4f4;
    --text-color: #333;
    --primary-color: #0056b3;
    --header-footer-bg: #333;
    --header-footer-text: white;
    --dark-mode-bg: #121212;
    --dark-mode-text: #ffffff;
    --dark-mode-primary: #bb86fc;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 18px;
}

header {
    background-color: var(--primary-color);
    color: var(--header-footer-text);
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: var(--header-footer-bg);
    color: var(--header-footer-text);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: var(--header-footer-text);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body.dark-mode {
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
}

body.dark-mode h1 {
    color: var(--dark-mode-primary);
}

body.dark-mode a {
    color: var(--dark-mode-primary);
}

.testbutton {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 80px;

    
}
.output {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--header-footer-bg);
    color: var(--header-footer-text);
    border-radius: 5px;
}